@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,200;0,400;1,100;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

button {
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}
body {
    background: #1A1A29;
    overflow-x: hidden;
}


*{  margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
    --font-terciary:  'Heebo', sans-serif;
    --poppins: 'Poppins', sans-serif;
    --outfit: 'Outfit', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.break {
    height: 15vh;
    width: 100vw;
    background: #181824;
}

header {
    width: 100%;
    height: 75vh;
    overflow: hidden;
    position: relative;
}

.header {
    font-family: var(--outfit);
    position: fixed;
    top: 0rem;
    z-index: 100;
    height: 100px;
    display: flex;
    background: #181824;
    color: #fff;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 30%;
}

.header h1 {
    color: #7562E0;
    flex-wrap:nowrap;
    position: relative;

}

.header ul {
    display: flex;
    gap: 15px;
}

.header a {
    color: #fff;
    transition: 0.5s;
    font-weight: 600;
}

.header a:hover {
    color: #7562E0;
}

.menuHamburguer {
    display: none;
    z-index: 100;
    position: fixed;
    right: 3rem;
}

.menuHamburguer i {
    position: fixed;
    font-size: 2rem;
    color: #fff;
    top: 2.3rem;
    right: 2rem;
    display: none;
    transition: 0.5s;
    cursor: pointer;
}

.menuHamburguer i:hover {
    color: #7562E0
}

.menuHamburguer li {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.navResponsive i {
    position: relative;
    top: 0;
    right: 10px;
    font-size: 1rem;
}

.menuHamburguer nav {
    font-family: var(--outfit);
    font-weight: 600;

    display: flex;
    position: fixed;
    top: 100px;
    right: 0rem;
    width: 100vw;
    text-align: center;
    justify-content: center;

    background: #181824;
    padding-bottom: 1rem;
    padding-left: 35px;
    transition: 1s;
    opacity: 0;
}

.menuHamburguer nav.showNav {
    opacity: 1;
}
.menuHamburguer nav a {
    color: #fff;
    transition: 0.5s;
}

.menuHamburguer nav a:hover {
    color: #7562E0;
}


.banner {
    display: flex;
    width: 80vw;
    position: absolute;
    left: 10%;
    margin-top: 100px;
    justify-content: space-between;
    align-items:center;
}

@keyframes move {
    from {
        transform: translateY(10px)
    }
    to {
        transform: translateY(-10px)
    }
}

.imageBanner img {
    width: 300px;
    height: 300px;
    animation: move 1s infinite alternate;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--poppins);
    font-weight: 500;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4 );
    animation: moveBanner 1s forwards;
}

.banner p{
    padding-top: 1rem;
    font-family: var(--outfit);
    color: white;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4 );
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: white;

    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    background: -webkit-linear-gradient(to right, #7562E0, #6e5fc7);  
    background: linear-gradient(to right, #7562E0, #6f60c7); 
    border: none;
    padding: 1rem 3rem;
    letter-spacing: .1rem ;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1.8s forwards;
    transition: 0.5s;
}

.banner button:hover { 
    color: #7562E0;
    background: #fff;
}

#fa-github-header {
    margin-right: 10px;
}

@keyframes moveBanner {
    0%{ 
        transform: translateY(10rem) rotateY(.30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.containerSkills {
    background-color: #1A1A29;
    height: 100%;
}

.sectionHeader {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sectionHeader h1 { 
    font-family: var(--poppins);
    font-size: 2.5rem;
    color: #fff;
    border-bottom: solid 3px #7562E0;
    margin-bottom: 1rem;
}

.subTitle {
    width: 60vw;
    font-family: var(--poppins);
    margin-bottom: 1rem;
}

.subTitle h2 {
    font-size: 1.7rem;
    color: #7562E0;
}

.subTitle p {
    color: #fff;
}

.skills {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

.skill {
    width: 280px;
    height: 250px;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill.skillPurple {
    border: 2px solid #7562E0;
}

.skillBoxText {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    font-family: var(--outfit);
    color: #fff;
}

.skillBoxText i {
    font-size: 2rem;
}

.skillBoxText h3 {
    font-size: 1.3rem;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

.titlePurple {
    color: #7562E0;
}

.carrossel {
    display: flex;
    flex-direction: column;
}

.projects {
    display: flex;
    flex-direction: row;
    margin: 0 auto 1rem auto;
    gap: 12px;
    width: 80vw;
    justify-content: center;
    flex-wrap: wrap;
}

.projects2 {
    height: 1px;
    opacity: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto 1rem auto;
    gap: 12px;
    width: 80vw;
    justify-content: center;
    flex-wrap: wrap;
    transition: opacity 1s;
}

.projects2.show {
    height: 100%;
    opacity: 1;
}

@keyframes pulse {
    from {
        box-shadow: #7562E0 0 0 0;
    }
    to {
        box-shadow: #7562E0 0 0 22px;
    }
}

.card {
    width: 250px;
    height: 290px;
    background-color: #31313F;
    border-radius: 10px;
    border: 0;
    font-family: var(--outfit);
    position: relative;
    transition: 0.4s;
    box-sizing: border-box;
    flex: none;
}

.card:hover {
    box-shadow: #7562E0 0 0 10px;
}

.cardImgWrapper {
    width: 90%;
    height: 40%;
    margin: 10px auto 0 auto;
    padding-top: 10px;
    border-radius: 10px;
}

.cardImgWrapper  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.cardInfo {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 7px;
    margin: 0 auto;
    position: relative;
}

.cardInfo h2 {
    font-family: var(--outfit);
    margin-top: 15px;
    color: #fff;
    text-transform: uppercase;
    color: #7562E0;
    font-size: 1.1rem;
    font-weight: 600;
}

.cardInfo p {
    color: #fff;
    font-size: 0.95rem;
    margin-top: 6px;
}

.buttonsCard {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center; 
    position: absolute;
    bottom: -35px;
}

.btnCard {
    color: #fff;
    font-family: var(--outfit);
    font-weight: 700;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    background: none;
    border: 1px solid #7562E0;
    cursor: pointer;
}

.btnCard.purple {
    background: #7562E0;
}

span {
    color: #7562E0;
}

.spanCard {
    font-weight: 700;
}

.btnShowProjects {
    color: #fff;
    font-family: var(--outfit);
    font-weight: 700;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    outline: none;
    background: none;
    border: 1px solid #fff;
    cursor: pointer;
    background: #7562E0;
    z-index: 99;
    margin: 0 auto 1rem auto!important;
}


#teste {
    height: 100vh;
}

.sessao-sobre-mim {
    height: 100%;
    max-width: 100vw;
    background: #1A1A29;
}

.sessao-header {
    max-width: 90vw;
}

.aboutMeFlex {
    display: flex;
    flex-direction: row;
    max-width: 90vw;
    z-index: 10;
    margin: 0 auto 2rem auto;
    justify-content: center;
    gap: 5rem;
}

.imgBoxMe {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: black;
}

.imgBoxMe img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0.9;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4 );
}

.aboutMe {
    margin-top: 2rem;
    width: 600px;
} 

.aboutMe h2 {
    font-family: var(--outfit);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}

.aboutMe {
    font-family: var(--outfit);
    justify-content: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    margin: 1rem 0;
    position: relative;
}

.name-about-me {
    font-weight: 700;
    font-style: italic;
}

.aboutMe ul {
    display: flex;
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.aboutMe ul div {
    display: flex;
}

.aboutMe li {
    padding-left: 10px;
    color: #7562E0;
}

.aboutMe li i {
    font-size: 2rem;
}

.btn-about-me {
    width: 200px;
    height: 30px;
    background: #7562E0;
    margin-left: 3rem;
    color: #161616;
    font-weight: 900;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: var(--outfit);
    cursor: pointer;
    z-index: 10000;
}

.btn-about-me i {
    color: #fff;
}

.btn-about-me:hover {
    opacity: 0.8;
}

.btn-about-me:active {
    opacity: 0.5;
}

.sessao-contato {
    width: 100%;
    height: 100%;
    background-color: #1A1A29;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.contato-wrapper {
    font-family: var(--outfit);
    width: 70%;
    display: flex;
    margin-bottom: 2rem;
    padding-top: 1rem;
    justify-content: space-between;
}

.contato-left h1 {
    font-size: 2rem;
    color: #7562E0;
}

.contato-left p {
    margin-top: 15px;
    font-size: 1.3rem;
    color: #fff;
}

.socialMedias {
    margin-top: 15px;
    display: flex;
    gap: 5px;
}

.socialMedias i {
    font-size: 2rem;
    color: #7562E0;
}

.contato-left ul i {
    color: #7562E0;
}

.contato-left ul i:hover {
    color: #fff;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input-group textarea {
    padding-top: 1rem ;
    max-width: 500px;
    height: 5rem;
    font-size: 1rem;
    padding-left: 1rem;
}

input::placeholder {
    color: rgb(179, 178, 178);
}

textarea::placeholder {
    color:rgb(179, 178, 178);
}

.field {
    color: #C1C1C1;
    background: #343434;
    border-radius: 8px;
    border: none;
    width: 400px;
    height: 46px;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: var(--font-quaternary);
    outline: none;
}

.contato-right label {
    display: block;
    color: #C1C1C1;
    font-size: 18px;
    font-family: var(--font-quaternary);
    transition: all 0.3s;
    margin: 1rem 0rem 0rem 0rem;

}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    font-family: var(--outfit);
    font-size: 1rem;
    font-weight: 500;
    color: #fff;

    width: 40%;
    height: 2rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #7562E0;
    border-radius: 10px;
    border: none;
    outline: none;
}

.btn-submit i {
    padding-right: 5px;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--outfit);
    color:  #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7 ;
    font-size: 1.2rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: relative;
    left: 90vw;
    bottom: 1rem;
    width: 2rem;
    height: 2rem;
    background-color: #7562E0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}

#btn-cel { 
    visibility: hidden;
}

.sectionHeader.contact {
    display: none;
}

.iconWhatsApp {
    position: fixed;
    bottom: 2rem;
    left: 3rem;
}

.iconWhatsApp i {
    font-size: 3rem;
    color: #25D366;
}



@media only screen and (max-width: 1000px) {
    .contato-wrapper {
        width:90%;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .contato-left {
        border-radius: 0px;
        
    }
    .contato-right {
        width: 100%;
        border-radius: 0px;
    }

    .field {
        width: 300px;
    }

    .btn-submit {
        left: 0rem;
    }

    .input-group textarea {
        width: 300px;
    }

    .header {
        gap: 20%;
    }

    .aboutMeFlex {
        gap: 0;
    }

    .aboutMe {
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 1000px) {
        .aboutMeFlex {
            flex-direction: column;
            height: 100%;
        justify-content: center;
    }

    .imgBoxMe {
        width: 300px;
        height: 250px;
        margin: 0 auto;
    }
    
    .aboutMe {
        margin: 0 auto;
        margin-top: 0rem;
        width: 90%;
        justify-content: center;
        align-items: center;
    }

    .aboutMe ul {
        margin-left: 0;
        justify-content: center;
        flex-direction: column;
    }

    .btn-about-me {
        margin-left: 0rem;
    }
    
    .aboutMe ul div {
        display: flex;
        flex-direction: row;
    }
}

@media only screen and (min-width:881px) and (max-width: 1100px) {
    .about-me p {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 880px) {
    footer {
        height: 10rem;
        text-align: center;
    }
    
    .footer-content {
        text-align: center;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
        grid-column: 1 /2 ;
        grid-row: 2 / 3;
        grid-gap: 0.5rem;
    }
    .social-list {
        display:grid;
        grid-column: 1 /2 ;
        grid-row: 4 / 5;
    }
    .sectionHeader h1 { 
        font-size: 2rem;
    }
}

@media only screen and (max-width: 840px) {
    .header ul {
        display: none;
    }

    .header {
        justify-content: left;
        padding-left: 20px;
    }

    .menuHamburguer {
        display: flex;
    }

    .menuHamburguer i {
        display: flex;
    }

    .banner {
        margin-top: 50px;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
        justify-content: center;
        align-items: center;
    }

    .banner h1 {
        font-size: 3rem;
    }
    header {
        height: 90vh;
    }
    .subTitle {
        width: 90vw;
    }
}

@media only screen and (max-width: 600px) {
    .banner h1 {
        font-size: 2rem;
    }
    .banner p {
        font-size: 1.3rem;
    }
    .banner button {
        width: 280px;
        height: 40px;
        font-size: 1rem;
        padding: 10px 20px;
    }
    .sectionHeader.contact {
        display: flex;
    }
    #link-topo {
        left: 80vw;
    }
}

@media only screen and (max-width: 450px) {
    .banner h1 {
        font-size: 1.8rem;
    }
    .textBanner {
        width: 95vw;
    }
    .imageBanner img {
        width: 280px;
        height: 300px;
    }

    .header {
        justify-content: left!important;
    }
}