@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600&family=Josefin+Slab:ital,wght@0,200;0,400;1,100;1,200;1,300;1,400;1,500&family=Mulish:ital,wght@0,200;0,300;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');

body {
    background: #212429;
}


*{  margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

:root {
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab", serif;
    --font-action: "Mulish", serif;
    --font-terciary:  'Heebo', sans-serif;
    --font-quaternary: 'Poppins', sans-serif;
    --outfit: 'Outfit', sans-serif;

}

html {
    scroll-behavior: smooth;
}

.hamburguer {
    width: 2rem;
    height: 2rem;
    position: fixed;
    z-index: 100;
    right: 2rem;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.2s;
    
}

.line {
    width: 100%;
    background-color: white;
    height: .1rem;
    box-shadow: 0.1rem 0.1rem 1px black ;
}


#line1.show-menu {
    transform: rotate(45deg) translate(.3rem, .4rem);



}

#line3.show-menu {
    transform: rotate(-45deg) translate(.3rem, -.4rem);



}

#line2.show-menu {
    opacity: 0;
    visibility: hidden;
}

.hamburguer.show-menu {
    right: 16rem;
}

header {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

}
.img-wrapper{
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    background-color: black;
    animation: zoom 25s;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

@keyframes zoom {
    0%{transform: scale(1.3);
    }
    100%{transform: scale(1);}

}

.banner {
    position: absolute;
    top: 30%;
    left: 15%;
}

.banner h1{
    color: white;
    font-size: 3.5rem;
    font-family: var(--font-primary);
    font-weight: 100;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4 );
    line-height: 3.5rem;
    animation: moveBanner 1s forwards;
}

.banner p{
    padding-top: 1rem;
    font-family: var(--font-secundary);
    color: white;
    font-size: 2rem;
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4 );
    margin-bottom: 2rem;
    opacity: 0;
    animation: moveBanner 1.5s forwards;
}

.banner button {
    font-family: var(--font-action);
    color: white;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: #AA076B;  
    background: -webkit-linear-gradient(to right, #13ec5d, #4ac441);  
    background: linear-gradient(to right, #13ec5d, #4ac441); 
    border: none;
    padding: 1rem 3rem;
    letter-spacing: .1rem ;
    border-radius: 100px;
    cursor: pointer;
    opacity: 0;
    animation: moveBanner 1.8s forwards;
}

.banner button:hover { 
    color: black;
}

#fa-github-header {
    margin-right: 10px;
}
@keyframes moveBanner {
    0%{ 
        transform: translateY(10rem) rotateY(.30deg);
    }
    100%{
        transform: translateY(0rem) rotateY(0);
        opacity: 1;
    }
}

.sidebar {
    width: 20rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -20rem;
    background-color: #161616;
    transition: all 1.2s;
    z-index: 90;
}

.sidebar.show-menu { 
    right: 0rem;
}

.menu-item {
    text-align: center;
    margin-bottom: .3rem;


}

.menu {
    position: absolute;
    top: 30%;
    left: 18%;
}

.menu-link {
    font-family: var(--font-action);
    font-size: 2rem;
    color: #ffffff;
    transition: color 1s;


}

.menu-link:hover {
    color: #13ec5d;
}

.social-media {
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;

}

.social-media i {
    color: #fff;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50%;
    transition: color 1s;
}

.social-media i:hover {
    color: #13ec5d;
    
    
}

.conhecimento-header {
    display: flex;
    align-items: center;
    color: #4b4b4b;
    margin-top: 1rem;
}
.container-conhecimentos {
    background-color: #212429;
    height: 100%;
}

.section-header {
    display: flex;
    justify-content: center;
}
.conhecimentos {
    display: flex;
    max-width: 95vw;
    margin: 0  auto;
    justify-content: center;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.conhecimento {
    width: 150px;
    height: 180px;
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    box-sizing: border-box;
    outline: none;
    border-radius: 1px;
}

.conhecimento-header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #17181b;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.conhecimento:hover {
    border-bottom: 5px solid #13ec5d;
}

.section-header h1 { 
    font-family: var(--font-quaternary);
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 3px #13ec5d;
    margin-bottom: 1rem;
}

.conhecimento-header i{
    font-size: 2.5rem;
    color: #13ec5d;
}

.conhecimento-header h3 {
    font-family: var(--font-quaternary);
    font-size: 1.4rem;
    font-weight: 500;
    color: #fff;
}

.projetos {
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    flex-wrap: wrap;
}

.sessao-header {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.sessao-header h1 {
    font-family: var(--font-quaternary);
    font-size: 2.5rem;
    color: #fff;
    text-transform: uppercase;
    border-bottom: solid 3px #13ec5d;
    line-height: 75px;
    margin-bottom: 1.5rem; 
}

.projetos {
    width: 80vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0 auto;
    justify-content: space-evenly;
}

.card {
    width: 250px;
    height: 200px;
    background: #26292e;
    border-radius: 10px;
    border: 0.1px solid #3c3f44;
    font-family: var(--outfit);
    position: relative;
    transition: 0.4s;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card:hover {
    border: 3px solid #13ec5d;
}

.card-img-wrapper {
    width: 90%;
    height: 55%;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}
.card-img-wrapper  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.card-info {
    width: 90%;
    height: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 0.8rem;
    margin-top: 7px;
    margin: 0 auto;
}

.card-info h2 {
    margin-top: 4px;
    color: #fff;
    font-weight: 300;
}

span {
    color: #13ec5d;
}

.card-info h3 {
    color: #13ec5d;
    position: absolute;
    bottom: 5px;
    width: 230px;

}

.btn {
    background: #13ec5d;  
    background: -webkit-linear-gradient(to right, #13ec5d, #2ebb5d);  
    background: linear-gradient(to right, #13ec5d, #2cd163); 
    border-radius: .5rem;
    font-family: var(--font-action);
    color: #202020;
    border: none;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4 );
    cursor: pointer;
    font-weight: bolder;
    font-size: 1rem;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    opacity: 0.5;
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
}

#teste {
    height: 100vh;
}

.sessao-sobre-mim {
    height: 80vh;
    max-width: 100vw;
    background: #212429;
}

.sessao-header {
    max-width: 90vw;
}

.sobre-mim-grid {
    display: grid;
    grid-template-columns: 5fr 2fr 10fr 6fr 1fr;
    max-width: 90vw;
}

.img-box-jg {
    grid-column: 2 / 3;
    width: 350px;
    height: 300px;
    border-radius: 300px;
    background-color: black;

}

#img-jg {
    grid-column: 2 / 3;
    width: 350px;
    height: 300px;
    border-radius: 300px;
    opacity: 0.9;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4 );
}

.about-me {
    margin-top: 2rem;
    width: 600px;
    grid-column: 4/5;
} 

.about-me h2 {
    font-family: var(--font-terciary);
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 60px;
    color: #fff;
}

.about-me p {
    font-family: var(--font-quaternary);
    justify-content: justify;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #fff;
    margin-top: 1rem;
}

.name-about-me {
    font-weight: 700;
    font-style: italic;
}

.about-me ul {
    display: flex;
    font-size: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    align-items: center;
}

.about-me li {
    padding-left: 1rem;
    color: #13ec5d;
}

.btn-about-me {
    width: 200px;
    height: 30px;
    background: #13ec5d;
    margin-left: 3rem;
    color: #161616;
    font-weight: 900;
}

.btn-about-me i {
    color: #202020;
}

.btn-about-me:hover {
    opacity: 0.8;
}

.btn-about-me:active {
    opacity: 0.5;
}
.sessao-contato {
    width: 100%;
    height: 100%;
    background-color: #212429;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper {
    width: 70%;
    display: flex;
    height: 30rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 100px;
    margin-bottom: 2rem;

}

.contato-left {
    width: 45%;
    background: #272727;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}

.contato-left ul {
    font-family: var(--font-quaternary);
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2rem;
    top: 2rem;
}

.contato-left ul p {
    margin-top: 1rem;
}

.contato-left i {
    color: #13ec5d;
    padding-right: 5px;
}

.contato-right {
    width: 55%;
    background-color: #202020;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

.sessao-contato h1 {
    font-family: var(--font-quaternary);
    font-size: 2rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 75px;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: 500;
    margin-left: 2rem;
}

.sessao-contato form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    position: relative;
    
}

.input-group textarea {
    padding-top: 1rem ;
    max-width: 500px;
    height: 4rem;
    font-size: 1rem;
    padding-left: 1rem;
}

.field {
    background: #343434;
    border-radius: 8px;
    border: none;
    width: 450px;
    height: 46px;
    font-size: 1rem;
    padding-left: 1rem;
    font-family: var(--font-quaternary);
    outline: none;
}

.contato-right label {
    display: block;
    color: #C1C1C1;
    font-size: 18px;
    font-family: var(--font-quaternary);
    transition: all 0.3s;
    margin: 1rem 0rem 0rem 0rem;

}

.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus {
    border-bottom: 1px solid;
}

.btn-submit {
    width: 30%;
    height: 2rem;
    position: relative;
    left: 8rem;
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    color: #202020;
}

.btn-submit i {
    padding-right: 5px;
}

footer {
    width: 100%;
    height: 7rem;
    background-color: #17181b;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.footer-content p {
    font-family: var(--font-secundary);
    color:  #a7a7a7;
    font-size: 1.2rem;
}

.social-list a {
    margin: 0 2rem;
    color: #a7a7a7 ;
    font-size: 1.2rem;
}

.social-list ul {
    display: flex;
}

#link-topo {
    position: fixed;
    right: 1rem;
    bottom: 3rem;
    width: 2rem;
    height: 2rem;
    background: -webkit-linear-gradient(to right, #13ec5d, #13ec5d);  
    background: linear-gradient(to right, #13ec5d, #13ec5d);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: .5rem;
    box-shadow: 0 0.1rem 0.6rem #00000009;
}

#btn-cel { 
    visibility: hidden;
}

@media only screen and (max-width: 1000px) {
    .contato-wrapper {
        width:90%;
    }
    .contato-left {
        display:none;
        border-radius: 0px;
        
    }
    .contato-right {
        width: 100%;
        border-radius: 0px;
    }

    .field {
        width: 300px;
    }

    .btn-submit {
        left: 0rem;
    }

    .input-group textarea {
        width: 300px;
    }
    }




@media only screen and (max-width: 880px) {
    footer {
        height: 10rem;
        text-align: center;
    }
    
    .footer-content {
        text-align: center;
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 2;
        grid-column: 1 /2 ;
        grid-row: 2 / 3;
        grid-gap: 0.5rem;
    }
    .social-list {
        display:grid;
        grid-column: 1 /2 ;
        grid-row: 4 / 5;
    }

    .sobre-mim-grid {
        display: flex;
        flex-direction: column;
    }

    .sessao-sobre-mim {
        max-width: 90vw;
        margin: 0 auto;
    }

    .sessao-sobre-mim {
        height: 100%;
        width: 100%;
        justify-content:center;
    }

    .img-box-jg {
        width: 300px;
        height: 257px;
        border-radius: 300px;
        margin: 0 auto;
    }

    #img-jg {
        width: 300px;
        height: 257px;
    }

    .about-me {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .about-me h2 {
        max-width: 90vw;
        font-size: 30px;
        line-height: 2rem;
        text-align: center;
    }

    .about-me p {
        max-width: 90vw;
        font-size: 15px;
        text-align: center;
    }

    .about-me ul {
        margin-left: 0rem;
        justify-content:space-evenly;
    }

    .about-me li {
        padding-left: 0rem;
    }

    #btn-pc {
        display:none;
    }

    #btn-cel {
        visibility: visible;
    }

    .btn-about-me {
        margin-top: 1rem;
        margin-left: 0;
        margin-bottom: 1rem;
        color: #202020;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1300px) {
    .contato-left {
        width: 50%;
    }

    .contato-right {
        width: 50%;
    }

    .field {
        width: 300px;
    }

    .btn-submit {
        left: 0rem;
        width: 40%;
    }
}

@media only screen and (min-width:881px) and (max-width: 1100px) {
    .about-me p {
        margin-left: 2rem;
    }
}

@media only screen and (max-width: 370px) {
    .conhecimento {
        width: 130px;
    }
}